footer {
    background-color: $primary-color;
    padding: ratio-space(10px) 0 ratio-space(4px) 0;
    color: $white;

    ::selection {
        background-color: $secondary-color;
    }
    
    .container {
        a {
            transition: .3s;
            &:hover {
                color: $secondary-color;

                .icon {
                    filter: brightness(0) saturate(100%) invert(93%) sepia(19%) saturate(6391%) hue-rotate(295deg) brightness(96%) contrast(84%);
                }
            }
        }

        .top {
            @extend %flex;
            flex-wrap: wrap;

            & > div {
                width: 50%;
                p {
                    margin: ratio-space(4px) 0;
                    font-size: rem(24px);
                    font-weight: 600;
                }
            }

            nav {
                @extend %flex;
                flex-wrap: wrap;
                width: 50%;
                justify-content: space-evenly;
                padding: ratio-space(8px) ratio-space(3px);
                ul {
                    min-width: 50%;
                }
            }
        }

        .bottom {
            @extend %flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding-top: ratio-space(2px);
            
            
            p {
                font-size: 14px;
            }
            
            .socials {    
                .icon {
                    margin-left: ratio-space(2px);
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }

    @media #{$media-down-lg} {
        .container {
            .top {
                & > div {
                    width: 100%;

                    p {
                        font-size: rem(16px);
                    }
                }
                nav {
                    width: 100%;
                    ul {
                        margin-top: ratio-space(4px);
                    }
                }
            }
            .bottom {
                justify-content: flex-end;
                p {
                    width: 100%;
                    margin-bottom: ratio-space(1px);
                }
            }
        }
    }

    @media #{$media-down-sm} {
        .container .top nav ul {
            width: 100%;
        }
    }
}