header {
    padding: ratio-space(3px);
    display: flex;
    justify-content: space-between;
    width: 100%;

    .right {
        display: flex;
        justify-content: space-between;

        .search-bar {
            display: flex;
            height: 64px;
            align-items: flex-end;
            margin-right: ratio-space(4px);
        }

        .icon {
            cursor: pointer;
        }
    }
}
