header {
    @extend %flex;
    position: sticky;
    z-index: 999;
    top: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: $white;
    transition: .3s;
    padding: ratio-space(3px);

    &:not([data-scroll='0']) {
        padding: ratio-space(1px) ratio-space(3px);

        .right {
            .icon, .search-bar {
                height: 40px
            }

            .icon:hover {
                transform: scale(1.2);
            }
        }

        .logo {
            height: 64px;
        }
    }

    &:hover {
        opacity: 1;
        background-color: $white;
    }

    .logo {
        height: 99px;
        transition: .5s;
    }

    .right {
        @extend %flex;
        justify-content: space-between;
        align-items: center;

        .icon {
            cursor: pointer;
            height: 48px;
            transition: .5s;

            filter: drop-shadow(2px 2px 1px rgba($grey, .5));

            &:hover {
                transform: scale(.8);
            }
        }

        .search-bar {
            @extend %flex;
            height: 48px;
            transition: .5s;
            align-items: flex-end;
            margin-right: ratio-space(4px);
        }

        #menu {
            position: absolute;
            top: 0;
            right: 0;
            background-color: rgba($white, .5);
            height: 100vh;
            width: 0;
            transition: .5s;
            overflow: hidden;

            nav {
                @extend %flex;
                width: 50%;
                height: 100%;
                background-color: $secondary-color;
                float: right;
                padding: ratio-space(3px);
                flex-direction: column;
                justify-content: flex-start;
                opacity: 0;
                transition: .5s;

                ul {
                    margin: ratio-space(8px) ratio-space(7px);
                }

                #close-menu {
                    align-self: flex-end;
                }
            }
            
            &.opened {
                width: 100vw;

                nav {
                    opacity: 1;
                }
            }
        }
    }

    @media #{$media-down-lg} {
        .right {
            .search-bar {
                display: none!important;
            }

            #menu {
                nav {
                    width: 100%;
                    ul {
                        margin: ratio-space(8px) ratio-space(1px);
                    }
                }
            }
        }
    }
}