header {
    padding: ratio-space(3px);
    @extend %flex;
    justify-content: space-between;
    width: 100%;

    .right {
        @extend %flex;
        justify-content: space-between;

        .search-bar {
            @extend %flex;
            height: 64px;
            align-items: flex-end;
            margin-right: ratio-space(4px);
        }

        .icon {
            cursor: pointer;
        }
    }
}
