ul {
    li {
        margin-bottom: ratio-space(2px);
    }
    
    &.titled {
        position: relative;
        top: 3em;
        margin-bottom: 3em;
        
        &::before {
            content: attr(aria-label);
            position: absolute;
            top: -3em;
            @extend h3;
        }
    }

    &.tasks {
        list-style: inside url(../img/uncheck-circle.svg);

        li {
            cursor: pointer;
            &.complete {
                list-style: inside url(../img/check-circle.svg);
                text-decoration: line-through;
                font-style: italic;
            }
        }
    }
}

ol {
    li {
        position: relative;
        counter-increment: counter; //nommer le compteur
        left: ratio-space(4px);
        margin-right: ratio-space(4px);
        &::before {
            content: counter(counter); //afficher la valeur du compteur
            position: absolute;
            top: 0;
            left: - ratio-space(4px);
            width: 21px;
            height: 21px;
            
            @extend %flex;
            align-items: center;
            justify-content: center;

            background-color: $secondary-color;
            border-radius: 50%;
            font-size: 14px;
        }
    }
}