h1 {
    font-size: rem(70px);
    font-family: $font-secondary;
    line-height: 1.3em;
    text-transform: capitalize;

    @media #{$media-down-lg} {
        font-size: rem(40px);
    }
}

h2 {
    font-size: rem(36px);
    font-family: $font-secondary;
    line-height: 1.3em;
    text-transform: uppercase;
    margin-bottom: ratio-space(4px);

    @media #{$media-down-lg} {
        font-size: rem(25px);
    }
}

h3 {
    font-size: rem(24px);
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.3em;
}

p, span, li {
    line-height: 1.4em;
    font-weight: 500;
}