$white: #FFF;
$black: #2F2E2F;

$blue: #3693A3;
$pink: #E19698;
$light-blue: #E4F1FF;
$grey: #D9CCD1;
$light-orange: #FFD8CA;
$mallow: #AB7F90;

$primary-color: $blue;
$secondary-color: $pink;
$thirdary-color: $grey;

$danger-color: $pink;