.btn {
    background-color: $white;
    color: $secondary-color;

    &.round {
        display: inline-block;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        overflow: hidden;
    }
}