.btn {
    background-color: $white;
    display: inline-block;
    border-radius: 5px;
    padding: ratio-space(1px) ratio-space(3px);
    font-weight: 600;
    
    &.primary {
        background-color: $primary-color;
    }
    &.danger {
        background-color: $danger-color;
    }

    &.round {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        overflow: hidden;
        padding: 0;
    }
}