.btn {
    background-color: $white;
    border-radius: 5px;
    padding: ratio-space(1px) ratio-space(3px);
    font-weight: 600;

    display: inline-flex;
    align-items: center;
    line-height: 1em;
    
    &.primary {
        background-color: $primary-color;
        color: $white;
    }
    &.danger {
        background-color: $danger-color;
        color: $white;
    }

    &.round {
        @extend %round;
        width: 56px;
        height: 56px;
        overflow: hidden;
        padding: 0;
    }
}