.recipe-cards {
    @extend %flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: ratio-space(1px);
    
    .recipe-card {
        max-width: 326px;
        width: clamp(unquote((100/3) + '%'), 100%, 326px);
        margin-bottom: ratio-space(8px);
        
        .recipe-card-image {
            img {
                border-radius: 5px;
                display: block;
                width: 100%;
            }
        }

        .recipe-card-content {
            margin: 0 ratio-space(1px);
            @extend %flex;
            flex-direction: column;

            .badge {
                align-self: end;
                margin: ratio-space(1px) 0;
            }

            h3 {
                margin-bottom: ratio-space(1px);
            }
            
            .js-stars {
                margin-bottom: ratio-space(2px);
            }

            .recipe-card-link {
                @extend .btn;
                position: relative;

                border: solid 1px $thirdary-color;
                align-self: end;
                font-size: 14px;
                background-color: transparent;
                overflow: hidden;
                transition: .5s;

                &:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: -300%;
                    width: 120%;
                    height: 100%;
                    background-color: $secondary-color;
                    transition: .5s;

                    transform: skewX(25deg);
                }
                
                &:hover {
                    border: solid 1px transparent;
                    color: $white;
                    &:before {
                        left: -10%;
                    }
                }
            }
        }

    }
}