.js-stars {
    @extend %flex;

    .star {
        cursor: pointer;
        width: 21px;
        height: 21px;
        display: block;

        background: url(../img/star-grey.svg) no-repeat center;
        
        &.fill {
            background: url(../img/star-pink.svg) no-repeat center;
        }

        &:hover ~ .star  {
            filter: none;
        }
    }

    &:hover .star {
        filter: drop-shadow(0 0 2px $mallow)
    }
}