#admin {
    section {
        @extend %flex;
        margin: ratio-space(8px) auto;
        flex-direction: column;
        
        h2 {
            margin-top: ratio-space(4px);
        }

        >.btn {
            margin-bottom: ratio-space(8px);
            align-self: flex-end;
        }

        .pagination {
            margin: ratio-space(10px) 0 ratio-space(8px) 0;
        }
    }
}