#recipe {
    margin-top: ratio-space(8px);

    h1 ~ .js-stars, h1 ~ p {
        margin: ratio-space(4px) 0;
    }

    .indications {
        @extend %flex;
        flex-wrap: wrap;
        margin: ratio-space(4px) 0;
        .vr {
            margin: 0 ratio-space(2px);
            align-self: center;
        }

        .indication {
            span {
                &.label {
                    display: block;
                }

                &.value {
                    font-weight: 400;
                }
            }
        }
    }

    section:nth-child(2) {
        @extend %grid;
        grid-template-areas:
                        'ingredients suggestions'
                        'preparation suggestions';
        grid-template-columns: 7fr 3fr;
        grid-template-rows: auto 85%; // Seconde valeur mise au pif pour essayer de retirer la marge par défaut
        column-gap: 20px;

        #ingredients {
            grid-area: ingredients;
            margin-bottom: ratio-space(4px);
        }    
        #preparation {
            grid-area: preparation;
            margin-bottom: ratio-space(4px);

            li {
                margin-bottom: ratio-space(2px);
            }
        }  
        #suggestions {
            grid-area: suggestions;
        }          
    }

    @media #{$media-down-lg} {
        .indications {
            flex-direction: column;
            .vr {
                display: none;
            }
            .indication {
                margin: ratio-space(2px) 0;
            }
        }

        section:nth-child(2) {
            grid-template-columns: 100%;
            grid-template-rows: auto;
            grid-template-areas:
                        'ingredients'
                        'preparation'
                        'suggestions';
        }
    }
}