.container {
    width: unquote(100 - (200 / 12) + '%'); // 2 colonnes de marge
    margin: auto;
}

.logo {
    max-height: 124px;
    display: inline-block;

    img {
        height: 100%;
    }
}

.icon {
    height: 100%;
    max-height: 64px;
}

%flex {
    display: flex;
}